header{
    background: gray;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
    
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
    
}

nav a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}