body { 
    font-family: 'Montserrat', sans-serif;
}

header{
    background: gray;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
    
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
    
}

nav a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

#caixa {
    width: 100%;
}

#banner{
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
    padding-top: 3em;
}

.principal {
 
    background: #fefefe;

}

.principal2 {
    width: 940px;
    margin: 0 auto;


}

.principal p {
    padding-bottom: 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    clear: left;
    padding-bottom: 20px;
    padding-right: 20px;
}

.estabelecimento {

    background: linear-gradient(#fefefe, #888888);
}

.estabelecimento p{
    text-align: center;
    margin: 2em 2em 0 0 ;
}

.estabelecimento iframe{
    text-align: center;
    margin: 2em 2em 0 0 ;
}

.estabelecimento2 {
    width: 940px;
    margin: 0 auto;
}

.conteúdo-benefícios {
    width: 640px;
    margin: 0 auto;
}

.lista {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.itens {
    line-height: 1.5;
    padding-right: 10px;
} 

.itens:before {
    content: "★";
}

.beneficios{
    text-align: center;
    background:#888888;
}

.beneficios2{
    width: 940px;
    margin: 0 auto;
}

.imgbeneficios {
    width: 55%;
}

.video{
    text-align: center;
   padding: 30px 0;
   background: #888888;
}

.video2{
    width: 940px;
    margin: 0 auto;
}

.produtos {
    width: 940px;
    margin: 0 auto;
}

.produtos li {
    display: inline-block;
    text-align: center ;
    width: 30%;
    vertical-align: top;
    padding: 30px 20px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0 1.5%;
    margin-top: 40px;
    margin-bottom: 40px;

    box-sizing: border-box;
}

.produtos h2 {
    
    font-weight: bold;
    font-size: 30px;

}

nav a:hover{
    color:#C78C19;
    text-decoration: underline;
}

.produtos li:hover {
   border-color: #C78C19;
}

.produtos li:active {
    border-color: #088c19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.preço {
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
}

.descrição {
    font-size: 18px;
}



form {
    margin: 40px 0;

}

 form label, form legend{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;

}
.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 50%;
}

.radio {
  margin: 20px 0;
}

.radio label{
    margin-left: 10px;
    margin-top: 10px;
}

.checkbox {
    margin-right: 10px 0;
    
}

.select {
    margin: 30px 0;

}

select {
    margin: 15px 0;
    padding: 8px 30px;
    font-size: 15px;
}

select option{
    font-size: 15px;
}

.submit{
    padding: 15px 0;
    margin-top: 15px;
    width: 40%;
    background: orange;
    color: white;
    text-decoration-color: aliceblue;
    border-radius: 10%;
    font-weight: bold;
    font-size: 18px;
    border-style: none;
}

.submit:hover{
    
    font-size: 15px;
    background: red;
    color: white;
    transition: 1s background;
    font-size: 19px;
}

table{
    margin: 20px 40px;
    
    
}

th, td {
    border: 1px solid black ;
    padding: 8px 15px;
}

thead{
    background: gray;
    color: white;
    font-weight: bold;
}

footer {
    text-align: center;
    background: url("bg.jpg");

}

.rodape {
   padding-top: 20px;
}

.copyright {

    color: white;
    font-size: 13px;
    padding: 40px 0;
}